body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
}

header {
  background-color: #333;
  color: #fff;
  padding: 10px 10px;
  text-align: center;
}

.titulo-principal {
  font-size: 2rem;
  margin-bottom: 10px;
}

.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu ul li {
  display: inline-block;
  margin-right: 20px;
}

.menu ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 1.2rem;
  transition: all 0.3s ease;
}

.menu ul li a:hover {
  color: #ffd700;
}

#usuario{
  text-align: right;
}

main {
  padding: 20px;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px 0;
}

.modulo-productos, .modulo-promociones {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px;
}

.modulo-productos .producto, .modulo-promociones .promocion {
  width: 30%;
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.modulo-productos .producto:hover, .modulo-promociones .promocion:hover {
  transform: translateY(-5px);
  transition: transform 0.2s ease;
}
